body {
	background: url(../img/deadSpace.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	text-align: center;
	color: white;
	margin: 10% 0 0 0;
	font-size: 3vw;
}

article {
	color: #ffff4d;
	text-align: center;
	font-size: 10vw;
}

img {
	opacity: 0.5;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
}